body {
    background-color: #3585dd;
}



.coolinput {
    width: fit-content;
    position: relative;
    max-width: 1186px;
    box-shadow: -4px 3px 1px 0px rgba(0, 0, 0, 0.75);
    border: 2px #000000 solid;
    border-radius: 4px;
    max-width: 1186px;


    label.text {
        font-size: 0.75rem;
        color: #faf9f9;
        font-weight: 700;
        position: absolute;
        top: -6px;
        left: 60px;
        padding: 0 3px;
        width: fit-content;
    }

    input[type=text].input {
        padding: 11px 10px;
        font-size: 0.75rem;
        border: 2px #ffffff solid;
        border-radius: 3px;

        &:focus {
            outline: none;
        }
    }
}